{
  "extends": [
    "next",
    "prettier"
  ],
  "plugins": [
    "prettier"
  ],
  "rules": {
    "prettier/prettier": 1,
    "react/no-unescaped-entities": "off",
    "react/display-name" : "off"
  }
}
