a {
  text-decoration: none;
}

h1 {
  font-family: 'Expletus Sans' !important;
  letter-spacing: .2rem;
}

h2, h3, h4 {
  font-family: Staatliches;
  letter-spacing: .2rem;
  line-height: 3rem;
}

.font-title {
  font-family: 'Expletus Sans' !important;
}

@media(max-width: 460px) {
  .uk-heading-2xlarge {
    font-size: 3.8rem !important;
  }

  .responsive-text-medium {
    font-size: 1rem !important;
    line-height: 2rem;
  }

  h3 {
    font-size: 1rem !important;
  }
}

.uk-width-sm {
  width: 200px;
}

#category {
  font-family: Staatliches;
  font-weight: 500;
}

#title {
  letter-spacing: 0.4px;
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 1.13636;
}

#banner {
  margin: 20px;
  height: 800px;
}

#editor {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.75;
}

.uk-navbar-container {
  background: #fff !important;
  font-family: Staatliches;
  z-index: 1;
}

img:hover {
  opacity: 1;
  transition: opacity 0.25s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.uk-font-large {
  font-size: 1.4rem;
}

.uk-height-null {
  height: 0;
}

.uk-animation-hop {
  animation: 2s ease-in-out infinite alternate hop
}

.uk-button-primary {
  background-color: rgba(255, 200, 138, 1) !important;
}

.text-primary {
  color: rgba(255, 200, 138, 1) !important;
}

.uk-background-primary {
  background-color: rgba(255, 200, 138, 1) !important;
}

.uk-primary {
  fill: rgba(255, 200, 138, 1) !important;
}

.rounded {
  border-radius: 3px;
  box-shadow: 0 5px 15px rgb(0 0 0 / 8%);
}

.uk-height-xsmall {
  height: 40px;
}

.uk-text-xsmall {
  font-size: 1.375rem;
  line-height: 1.5;
}

.text-small {
  font-size: 2rem;
}

.uk-light {
  color: white;
}

.uk-height-correction {
  top: -80px;
}

.uk-text-large {
  font-size: 4.375rem;
}

.uk-background-transparent {
  z-index: 1; /* nav overlay */
  background-color: transparent !important;
}

.skew {
  animation: .6s cubic-bezier(.92,.1,.51,.99) forwards deploy 
}

.font-head {
  font-family: Staatliches;
}

.hidden--right {
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  transition: clip-path .6s cubic-bezier(.92,.1,.51,.99);
}
.hidden--left {
  clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  transition: clip-path .6s cubic-bezier(.92,.1,.51,.99);
}

.crop--right {
  padding: 0 5% 0 40% !important;
}

.crop--left {
  padding: 0 40% 0 5% !important;
}

.hidden__text {
  background-color: white !important;
  color: transparent;
  background-clip: text !important;
  -webkit-background-clip: text;
}

.discover__crop--right {
  transition: clip-path 0.6s cubic-bezier(.92,.1,.51,.99);
  -webkit-transition: clip-path 0.6s cubic-bezier(.92,.1,.51,.99);
  clip-path: polygon(95% 0, 40% 0, 40% 100%, 100% 100%) !important;
  -webkit-clip-path: polygon(95% 0, 40% 0, 40% 100%, 100% 100%);
}

.discover__crop--left {
  transition: clip-path 0.6s cubic-bezier(.92,.1,.51,.99);
  -webkit-transition: clip-path 0.6s cubic-bezier(.92,.1,.51,.99);
  clip-path: polygon(5% 0, 60% 0, 60% 100%, 5% 100%);
  -webkit-clip-path: polygon(5% 0, 60% 0, 60% 100%, 5% 100%);
}

.uk-margin-top-large {
  margin-top: 60px;
}

.discover {
  clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
}

.footer-clip {
  clip-path: polygon(70% 0, 100% 17%, 100% 100%, 0 100%, 0 19%);
}

@keyframes deploy {
  from {
    clip-path: polygon(100% 0, 100% 0%, 35% 15%, 0 0%, 0 0);

  }

  to {
    clip-path: polygon(100% 0, 100% 79%, 35% 98%, 0 79%, 0 0);

  }
}

@keyframes hop {
  from {
    transform: translateY(2px)
  }

  to {
    transform: translateY(10px);
    opacity: .5
  }
}
